<div>
  
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="    background-color: pink;">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" >
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                  <a class="nav-link" style="color: rgb(144, 0, 255);" href="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: rgb(144, 0, 255);" href="#">Cerrar Sesion</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
      
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-white">
          <h1 class="mb-3">listado de productos</h1>
        </div>
        <!-- Jumbotron -->
      </header>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="text-center" >
              <th>Titulo</th>
              <th>categoria</th>
              <th>descripcion</th>
              <th>precio</th>
              <th>imagen</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let u of productos ">
              <td>{{u.title}}</td>
              <td>{{u.price}}</td>
              <td>{{u.description}}</td>
              <td>{{u.category}}</td>
              <td><img class="tamimage" style= "    width: 6em;
    height: 5em;" src="{{u.image}}"></td>          
    


            </tr>
          </tbody>
        </table>
      </div>
</div>