<div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="  text-white"  style="    background-color: pink;
      ">
        <div class="-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw-bold mb-2" style="color: black;">Registrar Usuario</h2>
            <p class=" mb-5" style="color: black;">Ingrese sus Datos</p>
            <form [formGroup]="employeeForm" >
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="registerName" style="color: black;">Nombres</label>

                    <input type="text" formControlName="name" class="form-control" />
                </div>

                <!-- Lastname input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="registerName" style="color: black;">Apellidos</label>

                    <input type="text" formControlName="lastname" class="form-control" />
                </div>

                <!-- Username input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="registerUsername" style="color: black;">Usuario</label>

                    <input type="text" formControlName="user" class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="registerPassword" style="color: black;">Contrasena</label>

                    <input type="password" formControlName="password" class="form-control" />
                </div>

                <!-- cd input -->
                <div class="form-outline mb-4">
                  <label class="form-label" style="color: black;">Cedula</label>

                  <input type="text" formControlName="cedula" class="form-control" />
                </div>
                <!-- correo input -->
                <div class="form-outline mb-4">
                  <label class="form-label" style="color: black;">correo</label>

                  <input type="text" formControlName="correo" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="registerRepeatPassword" style="color: black;">Seleccione el cargo</label>

                    <select class="form-select" formControlName="rol_id" aria-label="Default select example">
                        <option selected>Seleccione...</option>
                        <option value=1>Administrador</option>
                        <option value=2>Jefe</option>
                        <option value=3>Empleado</option>
                      </select>
                </div>
            
              <!-- Submit button -->
              <button type="button" (click)="newEmployee()" class="btn btn-primary btn-block mb-4" style="color: black;background-color:lavender;">Registrarse</button>
            
              <!-- Register buttons -->
              <div class="text-center">
                <p style="color: black;">Se encuentra esta Registrado? <a routerLink="/login" style="color: black;">Regresar</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>