<div><header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="    background-color: pink;">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a  class="nav-link"style="color: rgb(144, 0, 255);" href="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inicio" style="color: rgb(144, 0, 255);">Inicio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  

  </header>
<br>

<h1>Usuarios</h1>
<table class="tablegc"  style="border-color: transparent !important;border-spacing: 0px !important;">
    <thead>
      <tr>
        <th>
          <div class="container-3">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input name="search" [(ngModel)]="searchText" autocomplete="on"  class="form-control" type="search" id="search" placeholder="Consultar usuario..." style="    color: black !important;" />   
          </div>

        </th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          
          <button    class="btn btn-info"><a class="nav-link " aria-current="page" href="/registroEmpleados">Registrar Usuario</a></button>
        </th>          
      </tr>
    </thead>
</table>
<div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr class="text-center" >
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Usuario</th>
          <th>cedula</th>
          <th>correo</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let u of usu | filter:searchText">
          <td>{{u.name}}</td>
          <td>{{u.lastname}}</td>
          <td>{{u.user}}</td>
          <td>{{u.cedula}}</td>
          <td>{{u.correo}}</td>          

          <td>
            <button (click)="editar(u.id)" class="btn-primary" string="editar">Editar
            </button>
            
          </td>
          <td><button (click)="delete(u)"class="btn-primary" string="eliminar">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
<br>
<div class="card-body" [hidden]="!veredit">
    <table class="table table-borderless" FRAME="border" style="border-color: #ccc">
      <thead>
        <tr style="text-align: center;">
          <th ><p style="text-align: center;">Actualizar Usuario</p></th>
        </tr>
      </thead>
      <tbody>
       <!--form action=""-->
        <tr class="text-center"  >
          <td>Nombre </td>
          <td >
            
              <input type="text" id="nombre" [(ngModel)]="usuedit.name"/>
          
          </td>
          <td>Apellido </td>
          <td> <input type="text" [(ngModel)]="usuedit.lastname"/> </td>
          
        </tr>
        <tr class="text-center">
          <td>usuario</td>
          <td> 
           
              <input type="text" id="img"  [(ngModel)]="usuedit.user" />
          
          </td>
          <td>cedula</td>
          <td>   <input type="text" [(ngModel)]="usuedit.cedula"/></td>

                  
        </tr>  
        <tr class="text-center">
            <td>correo</td>
            <td>   <input type="text" [(ngModel)]="usuedit.correo"/></td>
        </tr>
        <tr class="text-center">
          <td></td>
          <td><button  (click)="actualizar(usuedit)" class="btn btn-info">Actualizar</button></td>
          <td><button class="btn btn-info"  >Cancelar</button></td>
          <td></td>
        </tr> 
       <!--/form-->              
      </tbody>
    </table>
  </div>


